.rodape {
    background-color: var(--primary-color-text);
    color: var(--second-color-text);
    text-align: center;
    padding: 24px;
    font-family: 'Montserrat' sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}