@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color-backgroud: #0D0D0D;
    --second-color-background: #272727;
    --primary-color-text:#8507D9;
    --second-color-text:#F6F6F6;
}

body {
    box-sizing: border-box;
    background-color: var(--primary-color-backgroud);
    color:var(--primary-color-text);
}