:root {
    --main-font-color: #FFFFFF;
    --second-font-color: #C0C0C0;
    --button-color: #167DF7;
    --main-background-color: #00030C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background-color: var(--main-background-color);
}

.main-content {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;

}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}



.main-title {
    color: var(--main-font-color)
}

.container__button {
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 16px;
    color: var(--main-font-color);
    display: block;
    width: 300px;
    text-align: center;
}

.button__second {
    background-color: transparent;
    border: 1px solid var(--main-font-color);
}

.container__text {
    color: var(--second-font-color);
}